@media (max-width: 742px) {
	nav ul {
		display: none; /* Sembunyikan menu di layar kecil */
		flex-direction: column; /* Ubah menjadi kolom */
		position: absolute;
		top: 60px; /* Sesuaikan posisi menu */
		left: 0;
		background-color: rgb(22, 25, 29);
		width: 100%;
		padding: 10px 0;
	}

	nav ul.active {
		display: flex; /* Tampilkan menu saat aktif */
	}

	nav .menu-toggle {
		display: block; /* Tampilkan toggle di layar kecil */
	}
}
